// app global css
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/montserat/Montserrat-Bold.ttf");
    font-weight: bold;
    font-style normal;
}


html, body {
    background-color: #f4f4f6;
}
* {
    outline none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
header {
    background: #136598;
}
body {
    font-family: Montserrat;
}
.q-layout {
    background-color: #f4f4f6;
}
.q-layout-page,
.q-layout,
.layout-padding {
    min-height: 0 !important;
}
.q-layout-page-container {
  background-color #f4f4f6;
}
.q-toolbar {
    background: #136598;
}
.q-toolbar-title .header {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 25px 0 2px;
    margin-right: 127px;
}
.q-layout-footer .text_footer_1,
.q-layout-footer .text_footer_2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.q-layout-footer .text_footer_1 {
    margin-top: 30px;
}
.logo_dinner {
    float: left;
    margin-left: 50px;
}
.q-item {
    border: 0.5px solid #C4C4C4;
    border-right: none;
    border-bottom: none;
}
.q-item:last-child {
  border-bottom: 0.5px solid #C4C4C4;
}
.q-item-main {
    color: #FFFFFF;
}
.left_menu_icon {
    margin-left: -35px;
}
.q-item-main {
    margin-left: 10px;
    margin-top: 5px;
}
.q-table-container {
    width: 85%;
}
.q-datetime {
    width: 300px;
    float: left;
    margin-left: 20px;
}
main {
    min-height: 100%;
}
.q-table-td-1 {
    width: 40%;
}
